.output-section {
  padding: 1.5rem 1rem;
  background-color: var(--white-color);
  width: 90%;
  max-height: 37.18rem;
  align-self: center;
  border-radius: 2rem;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.output-section__default h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--third-color);
  margin-bottom: 1rem;
}

.output-section__default p {
  text-align: center;
  font-size: 1rem;
  color: var(--third-color);
  margin-top: 1rem;
}

.output-section__result div {
  padding: .5rem 1rem;
}

.output-section__result-container {
  max-height: 26rem;
  overflow: scroll;
}
.output-section__result-container p {
  font-size: 1.5rem;
  color: var(--result-color);
  line-height: 2.25rem;
}

.output-section__result__btn-container {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.output-section__result__btn-container button {
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 1.5rem;
  width: 100%;
  padding: 1.5rem;
}
