.output-section {
  padding: 1.5rem 1rem;
  background-color: var(--white-color);
  width: 90%;
  max-height: 37.18rem;
  align-self: center;
  border-radius: 2rem;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.output-section__default figcaption {
  display: none;
}

.output-section__default h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--third-color);
  margin-bottom: 1rem;
}

.output-section__default p {
  text-align: center;
  font-size: 1rem;
  color: var(--third-color);
  margin-top: 1rem;
}

.output-section__result div {
  padding: .5rem 1rem;
}

.output-section__result-container {
  max-height: 26rem;
  overflow: auto;
}
.output-section__result-container p {
  font-size: 1.5rem;
  color: var(--result-color);
  line-height: 2.25rem;
  overflow-wrap: break-word;
}

.output-section__result__btn-container {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.output-section__result__btn-container button {
  background-color: transparent;
  color: var(--secondary-color);
  font-size: 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 1.5rem;
  width: 100%;
  padding: 1.5rem;
}

.tooltip {
  position: absolute;
  top: 1rem;
  font-size: .8rem;
  background-color: var(--third-color);
  color: var(--white-color);
  padding: .3rem .5rem;
  border-radius: .8rem;
}

@media screen and (min-width: 768px) {
  .output-section {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .output-section {
    width: 25%;
    width: 25rem;
    max-height: 60rem;
    height: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 70%;
    top: -06%;
    padding: 0;
  }

  .output-section__default {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 2rem;
  }

  .output-section__default figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 21rem;
  }

  .output-section__default figcaption img {
    max-width: 20rem;
    width: fit-content;
  }

  .output-section__result {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: .5rem 2rem;
  }

  .output-section__result-container {
    max-height: 36rem;
  }

  .output-section__result__btn-container {
    height: 8.7rem;
  }

  .tooltip {
    top: -.5rem;
  }

}
