@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('header.css');
@import url('input-section.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(243, 245, 252, 1);
  --secondary-color: rgba(10, 56, 113, 1);
  --font: 'Inter', 'sans serif';
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font);
}

main {
  min-width: 100vw;
  min-height: 89vh;
}
